.button{
    display: inline;
    background: linear-gradient(180deg, rgba(93, 76, 250, 0.5) -32%, #5D4CFA 100%);
    border-radius: 7px;
    padding: 1rem 2.5rem;
    color: white;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 2.4rem;
}