@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap');

*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	overflow: hidden;
}

html {
	font-size: 62.5%; }

/*as inherited to other child elements inside*/
body {
	box-sizing: border-box;
}

a, a:hover, a:focus, a:active {
	text-decoration: none;
	color: inherit;
}